.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  z-index: 999;
}

.modal {
  max-width: 90vw;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.photo {
  margin: 0 auto;
  max-width: 100%;
  max-height: 70vh;
  object-fit: contain;
}

.description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #f9f9f9;
  padding: 0.6em;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.4);
}
